/* Style for the entire form container */
body {
  font-family: Arial, sans-serif;
  /*background: linear-gradient(135deg, skyblue,yellowgreen);*/
  /*background: linear-gradient(135deg, #a1c4fd, #c2e9fb);*/
  background: black;
  display: flex;
  justify-content: center;/*to keep border box at the centre*/
  align-items: center;
  padding: 10px;/*the distance between top of the website and border-box*/
}

.reset-container {
    background-color: whitesmoke;
    padding: 16px; /*for more space inside the container(width)*/
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    max-width: 500px;
    width: 100%;
    margin-top: 30%;
  }
  
  /* Style for the header */
  .reset {
    font-size: 24px;
    margin-bottom: 7px;/*distance between header and remaining elements*/
    text-align: center;
    color:black;
  }
  
  /* Style for each input field group */
  .input-reset-group {
    margin-bottom: 8px;
  }
  
  /* Label for input fields */
  .input-reset-group label {
    display: block;
    font-size: px;
    margin-bottom: 8px;
    color: black;
  }
  
  /* Style for input fields */
  .input-reset-group input,
  .input-reset-group select {
    width: 100%;
    padding: 9px;
    border: 2px solid #ccc;
    border-radius: 7px !important;
  }
  
  /* Focused input style */
  .input-reset-group input:focus,
  .input-reset-group select:focus {
    border-color: black;
    box-shadow: 0 0 10px rgba(41, 42, 41, 0.3);
  }
  
  /* Style for the submit button */
  .submit-reset-button {
    width: 100%;
    padding: 12px; 
    background-color: rgb(85, 87, 87);
    color: white;
    border:none;/*when hovered we are not getting blue border . so keeping it as none*/
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px; 
  }
  
  /* Hover effect for the submit button */
  .submit-reset-button:hover {
    background-color: black;
  }
  
  /* Responsive styling */
  @media (max-width: 600px) {
    .reset-container {
      padding: 20px;
    }
    .submit-reset-button {
      font-size: 14px;
    }
  }
  